{# 
/** 
 * @file
 * This file defines the theme used to render the option form of the views_merge_rows module.
 *
 * @ingroup themeable
 */
#}
{{ form.warning_markup }}
<div class="content">{{ form.merge_rows }}</div>
<fieldset>
  <legend>Configure merging options for the fields</legend>
  <p></p>
  <div class="fieldset-wrapper">
     <table class="sticky-enabled">
      <thead><tr><th>Field</th><th>Merge option</th><th>Exclude first</th><th>Prefix</th><th>Separator</th><th>Suffix</th></tr></thead>
      <tbody>
        {% for field in form.field_config %}
          {% if field.name %}
            <tr>
            <td class=content>{{ field.name }}</td>
            <td class=content>{{ field.merge_option }}</td>
            <td class=content>{{ field.exclude_first }}</td>
            <td class=content>{{ field.prefix }}</td>
            <td class=content>{{ field.separator }}</td>
            <td class=content>{{ field.suffix }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</fieldset>
